@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --main_text_color:#333333;
    --emphasis_color:#2B5194;
    --gird_color:#B9B9B9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    background-image: url(image/detailbg.png);
}

/* header */
header {
    margin: 0 auto;
    width: 1140px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 222px;
    height: 36px;
}

header .gnb a {
    font-size: 14px;
    font-weight: 400;
    color:var(--main_text_color);
    margin-left:40px;
    position: relative;
}

header .gnb a:first-child {
    margin-left: 0;
}

header .gnb a:hover {
    color:var(--emphasis_color);
}

.gnb a:before {
    content:'';
    position: absolute;
    background-color: var(--emphasis_color);
    width: 0px;
    height: 1px;
    bottom: -5px;
    left: 0;
    transition:.2s;
}

.gnb a:hover:before {
    width: 100%;
}

/* conA */
.conA {
    width: 100%;
    height: 500px;
    background-image: url(image/detail-img.png);
}

.graybg {
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,.5);
}

.graybg h1 {
    font-size: 36px;
    font-weight: 500;
    color:white;

    padding: 236px 0 0 390px;
}

.conA .graybg p {
    font-size: 16px;
    font-weight: 300;
    color:white;
    margin-left: 507px;
}

/* sub nav */
.sub-nav {
    display: flex;
    align-items: center;
    width: 1140px;
    margin:32px auto 0 auto;
}

.sub-nav img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.sub-nav p {
    font-size: 12px;
    font-weight: 400;
    margin-right: 8px;
}

/* conB */
.conB {
    width: 1140px;
    margin: 80px auto 0 auto;
}

.conB h1 {
    font-size: 28px;
    font-weight: 500;
    color:var(--main_text_color);
}

.conB hr {
    border:0;
    background-color: #BDBDBD;
    height: 1px;
    margin-top: 4px;
}

.conB p {
    width: 700px;
    margin-top: 12px;

    font-size: 16px;
    font-weight: 400;
    color:#424242;
}

/* conC */
.conC {
    margin:80px auto 0 auto;
    width: 1140px;
    height: 833px;
    /* background-color: dodgerblue; */
}

.conC .top-text {
    display: flex;
}

.top-text h1 {
    font-size: 28px;
    font-weight: 500;
    color:var(--main_text_color);
    margin-top: 80px;
}

.top-text a {
    font-size: 12px;
    font-weight: 400;
    color:#666666;
    margin-top: 104px;
    margin-left: auto;
}

.tab-inner {
    /* background-color: yellowgreen; */
    margin-top: 12px;
    position: relative;
}

input[name=tab-menu] {
    display: none;
}

.slide {
    width: 1140px;
    border-radius: 10px;
    height: 620px;
    overflow: hidden;
    /* background-color: dodgerblue; */
    position: relative;
}

.slide-inner {
    width: 2280px;
    height: 816px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.slide-inner .work {
    width: 1140px;
    height: 816px;
}

.slide-inner #work01 {
    background-image: url(image/work01.png);
}
.slide-inner #work02 {
    background-image: url(image/work02.png);
}

.tab-inner input[id=tab1]:checked ~ .slide .slide-inner {
    left: -1140px;
}
.tab-inner input[id=tab2]:checked ~ .slide .slide-inner {
    left:0px;
}

.tab-inner label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color:#fff;
    border-radius: 18px;
    border:1px solid #b9b9b9;

    cursor: pointer;
    z-index: 2;
    position: absolute;
}

.btn #right {
    transform: translateX(1px);
}
.btn #left {
    transform: translateX(-1px);
}

.tab-inner label:nth-child(1) {
    right: 12px;
    top: 292px;
}
.tab-inner label:nth-child(2) {
    left: 12px;
    top: 292px;
}

/* conD */
.conD {
    width: 1140px;
    margin: 80px auto 0 auto;
}

.conD h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color:var(--main_text_color);
}

.conD .subject-info {
    width: 1140px;
    height: 272px;
    margin:36px auto 0 auto;
    /* background-color: dodgerblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.subject-info .cir {
    width: 272px;
    height: 272px;
    border-radius: 136px;
    background-color: #fff;
    box-shadow:2px 2px 4px rgba(0,0,0,.25);
}

.info-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-detail p:nth-child(1) {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    color:#424242;
}

.info-detail p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color:#424242;
}

#cir01 img {
    width: 88px;
    height: 88px;
    margin-top: 31px;
    margin-bottom: 37px;
}

#cir02 .info-detail #profe_pic {
    width: 83px;
    height: 110px;
    margin-top: 20px;
}
#cir02 .info-detail p:nth-child(3) {
    margin-top: 26px;
}

#cir03 .info-detail #sub_plan {
    width: 88px;
    height: 88px;
    margin-top: 31px;
    margin-bottom: 32px;
}

#cir03 .info-detail #subject_arrow {
    width: 12px;
    height: 12px;
}

/* modal */
#btn-modal {
    border:1px solid var(--emphasis_color);
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    color:var(--main_text_color);
    cursor:pointer;
    transition: .3s;
}

#btn-modal:hover {
    background-color:var(--emphasis_color);;
    padding: 4px 8px;
    border-radius: 4px;
    color:white;
    cursor:pointer;
}

#modal.modal-overlay {
    width: 100%;
    height: 3644px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99;
}
#modal .modal-window {
    background: white;
    margin-top: 1600px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 1252px;
    height: 1650px;
    position: relative;
    padding: 56px;
    padding-top: 0;
    text-align: center;
}
#modal .title {
    display: inline-block;
    color: white;
    /* border:1px solid red; */
    margin-top: 12px;
}
#modal .title h2 {
    font-size: 20px;
    font-weight: 500;
    color:var(--main_text_color);
    /* border:1px solid blue; */
    margin: 0 auto;
    transform: translateX(-6px);
}
#modal .close-area {
    display: inline-block;
    
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
    color: black;
    /* background-color: green; */

    position: absolute;
    top: 16px;;
    right: 16px;
}

#modal .content {
    width: 100%;
    height: 1539px;
    margin-top: 9px;
    /* border:1px solid red; */
}

.content .info-a {
    width: 1140px;
    height: 263px;
    border-radius: 4px;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 4px 4px 0 0;
    /* border:1px solid red; */
    background-color: var(--emphasis_color);
}
.info-title h4 {
    font-size: 16px;
    font-weight: 500;
    color:white;
    /* border:1px solid red; */
}

.info-title img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    transform: translateY(1px);
    /* border:1px solid red; */
}

.info-a-inner {
    height: 223px;
    width: 1140px;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px;
}

.info-b {
    width: 1140px;
    height: 1256px;
    margin-top: 20px;
}

.info-b .info-b-inner {
    width: 1140px;
    height: 1216px;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px;
}

/* conE */
.conE {
    width: 1140px;
    height: 684px;
    margin:160px auto 0 auto;
    /* background-color: dodgerblue; */
}

.conE h1 {
    font-size: 28px;
    font-weight: 500;
    color:var(--main_text_color);
}

.conE hr {
    border:0;
    height: 1px;
    background-color: #BDBDBD;
    margin-top: 4px;
}

.good_sub_a {
    height: 274px;
    width: 1140px;
    margin-top: 24px;
    display: flex;
}

.good_sub_a .subject_img {
    width: 442px;
    height: 274px;
    background-image: url(image/subject_a.png);
}

.good_sub_a .subject_text {
    margin-left: 24px;
}

.good_sub_a .subject_text p:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    color:var(--main_text_color);
}

.good_sub_a .subject_text p:nth-child(2) {
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    width: 674px;
    color:var(--main_text_color);
}

.good_sub_b {
    height: 181px;
    width: 1140px;
    margin-top: 80px;
    display: flex;
}

.good_sub_b .subject_img {
    width: 322px;
    height:181px;
    background-image: url(image/subject_b.png);
    float: right;
}

.good_sub_b .subject_text {
    margin-right: 24px;
    margin-left: auto;
}

.good_sub_b .subject_text p:nth-child(1) {
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    
    color:var(--main_text_color);
}

.good_sub_b .subject_text p:nth-child(2) {
    font-size: 16px;
    text-align: right;
    font-weight: 300;
    margin-top: 8px;
    width: 674px;
    color:var(--main_text_color);
}

/* conF */
.conF {
    width: 100%;
    height: 466px;
    margin:0 auto;
    background-color: #F8F8F8;
}

.conF h1 {
    padding-top: 80px;
    font-size: 28px;
    font-weight: 500;
    color:var(--main_text_color);
    text-align: center;
}

.conF .main_contents {
    width: 324px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    background-image: url(image/next-subject.png);
    top: -20px;
    left: 240px;
}

.sub_contents {
    width: 260px;
    height: 160px;
    background-image: url(image/pre-subject.png);
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    margin: 44px auto 0 auto;
    transform: translateX(-278px);
    position: relative;
}

.conF .sub_contents .graybg p {
    font-size: 16px;
    color:white;
    font-weight: 400;
    text-align: center;
    line-height: 160px;
}

/* footer */
footer {
    width: 100%;
    height: 200px;
    background-color: #343539;
}

footer > .contents {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

footer .con {
    width: 1140px;
    margin: 0 auto;
}

.sec01 {
    display: flex;
    width: 100%;
    height: 127px;
}

.sec01 img {
    display: inline-block;
    width: 272px;
    height: 60px;
    /* border:1px solid red; */
    margin-top: 36px;
}

.sec01 .footer-gnb {
    width: 393px;
    margin-top: 36px;
    margin-left:auto;
    display: flex;
    justify-content: space-between;
}

.footer-gnb a {
    color:#f5f5f5;
    font-size: 16px;
    font-weight: 400;
}

footer hr {
    background-color: #f5f5f5;
    height: 1px;
    border:0;
}

.sec02 {
    display: flex;
    width: 100%;    
    height: 71px;
    padding-top: 8px;
}

.sec02 > p {
    font-size: 12px;
    font-weight: 100;
    color:#BDBDBD;
    display: inline-block;
}

.footer-link {
    display: flex;
    width: 271px;
    justify-content: space-between;
    margin-left: auto;
}

.footer-link a {
    font-size: 12px;
    font-weight: 300;
    color:#f5f5f5;
}